.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
  background-color: #f7f9fc;
  margin-top: 70px; 
}
